body{
    background-size: cover;
    
}

.buttons{
    border-radius: 25px;
    font-size:25px;
    font-weight:bold;
    width:40%;
}

.heading{
    margin:0;
    width:100%;
    box-shadow:5px 5px 5px black;
}